<div class="page-container">
    <div class="border">
        <div class="row" style="width: 100%">

            <div class="col-9">

                <div class="row-dashboard" style="width: 100%">
                    <div class="col-dashboard">
                        <h1 class="title-box">Restaurante:</h1>
                        <button class="button-cumparaturi" (click)="onRezerva()">
                    <img class="box-restaurante" src="../../../assets/images/restaurant.png">
                </button>
                    </div>
                </div>


                <div class="row" style="width: 100%">
                    <h1 class="title-box">Cele mai bune restaurante! Comandă acum!!</h1>
                    <div class="column" style="width: 100%">
                        <div *ngFor=" let restaurant of restaurants; let i = index">
                            <div *ngIf="i < 4">
                                <div class="box">
                                    <button (click)="goToRestaurant(restaurants_comanda[i].name)" class="box-button">
                            <img src="{{restaurants_comanda[i].banner_img}}" alt="buttonpng">
                            <p class="nume-restaurant">{{restaurants_comanda[i].name}}</p>
                            <p class="rating-restaurant">{{restaurants_comanda[i].rating}}★</p>
                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="title-box">Cele mai bune restaurante! Rezervă acum!!</h1>
                    <div class="column" style="width: 100%">
                        <div *ngFor=" let restaurant of restaurants; let j = index">
                            <div *ngIf="j < 4">
                                <div class="box">
                                    <button (click)="goToRestaurant(restaurants_rezervare[j].name)" class="box-button">
                            <img src="{{restaurants_rezervare[j].banner_img}}" alt="buttonpng">
                            <p class="nume-restaurant">{{restaurants_rezervare[j].name}}</p>
                            <p class="rating-restaurant">{{restaurants_rezervare[j].rating}}★</p>
                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ad" class="col-1"><button onclick="document.getElementById('ad').style.visibility  = 'hidden' " style=" float:right;  margin-right:-150% ">X</button><br><img style=" width: 20vw; height: 80vh" src="../../../assets/images/Ads.gif"></div>
        </div>
    </div>
</div>