<div class="page-container">
    <div class="row" style="width: 100%">
        <div class="col-9">
            <div class="row-dashboard" style="width: 100%">
                <div class="col-dashboard">
                    <h1 class="title-box">Restaurante:</h1>
                    <button class="button-cumparaturi" (click)="onRezerva()">
                    <img class="box-restaurante" src="../../../assets/images/restaurant.png">
                  </button>
                </div>
            </div>

        </div>
        <div class="row" style="width: 100%">
            <h1 class="title-box">Cele mai bune restaurante! Comandă acum!!</h1>
            <div class="column" style="width: 100%">
                <div *ngFor=" let restaurant of restaurants; let i = index">
                    <div *ngIf=" restaurant.type =='comanda' && i < 4">
                        <div class="box">
                            <button (click)="goToRestaurant(restaurant.name)" class="box-button">
                                <img src="{{restaurant.banner_img}}" alt="buttonpng">
                                <p class="nume-restaurant">{{restaurant.name}}</p>
                                <p class="rating-restaurant">{{restaurant.rating}}★</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title-box">Cele mai bune restaurante! Rezervă acum!!</h1>
            <div class="column" style="width: 100%">
                <div *ngFor=" let restaurant of restaurants">
                    <div *ngIf=" restaurant.type =='rezerva'">
                        <div class="box">
                            <button (click)="goToRestaurant(restaurant.name)" class="box-button">
                                <img src="{{restaurant.banner_img}}" alt="buttonpng">
                                <p class="nume-restaurant">{{restaurant.name}}</p>
                                <p class="rating-restaurant">{{restaurant.rating}}★</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
