body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.page-container {
    display: inline-block;
    background-color: #ffffff;
    flex-wrap: wrap;
    padding-top: 15vh;
    padding-left: 30vw;
    padding-right: 30vw;
    padding-bottom: 20vh;
    font-size: 30px;
    overflow-y: hidden;
}

h1 {
    text-align: center;
}
