body {
    background-image: url("../../../assets/images/Background.png");
    background-size: cover;
}

.bodi {
    background-image: url("../../../assets/images/Background.png");
    background-size: cover;
}

form {
    width: 30em;
}

h1,
h5,
button,
p {
    font-family: 'Callie Chalk Font', sans-serif;
    color: white;
}

label,
input {
    font-family: 'Callie Chalk Font', sans-serif;
    color: black;
}

.swing {
    position: absolute;
    margin-top: 36vh;
    margin-left: 65vh;
    background-image: url("../../../assets/images/Background.png");
    background-size: cover;
}

.swing:hover {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
    animation-duration: 1s;
}

.swing:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    top: -275px;
    left: -17px;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}


/* nail */

.swing:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: -285px;
    left: 1px;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@media only screen and (max-width: 768px) {
    [class*="swing"] {
        margin-top: 45vh;
        margin-left: 65vh;
    }
}

@media only screen and (min-width: 600px) {
    [class*="swing"] {
        margin-top: 45vh;
        margin-left: 65vh;
    }
}
