<app-header>
</app-header>

<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>{{k}}</strong>) items</span>
                        <h5>Items in your cart</h5>
                    </div>
                    <div *ngFor="let produs of cos" class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr>
                                        <td width="90">

                                            <img class="cart-product-imitation" src={{produs.produs_img}}>

                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="#" class="text-navy">
                                                    {{produs.nume}}
                                                </a>
                                            </h3>
                                            <p class="small">

                                            </p>
                                            <dl class="small m-b-none">
                                                <dt>Ingrediente</dt>
                                                <dd>{{produs.ingrediente}}</dd>
                                            </dl>

                                            <div class="m-t-sm">
                                                <a class="text-muted" (click)="deleteProdus(produs)" style="cursor: pointer;"><i class="fa fa-trash"  ></i> Remove item</a>
                                            </div>
                                        </td>

                                        <td>

                                            <s class="small text-muted"></s>
                                        </td>
                                        <td width="65">
                                            <input type="text" class="form-control" placeholder="1">
                                        </td>
                                        <td>
                                            <h4>
                                                {{produs.pret}} lei
                                            </h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="iboxCheckout">
                        <div class="ibox-title">
                            <h5>Cart Summary</h5>
                        </div>
                        <div class="ibox-content">
                            <span>
                            Total
                            </span>
                            <h2 class="font-bold">
                                {{pret}} lei
                            </h2>

                            <hr>
                            <div class="m-t-sm">
                                <div class="btn-group">
                                    <a (click)="Checkout()" style="color:white" class="btn btn-primary btn-sm">Checkout</a><br>
                                    <a routerLink="/main" class="btn btn-danger btn-sm"> Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>
<app-footer></app-footer>
