body {
    background-color: #f4b41a;
    margin: 0;
    padding: 0;
}


  .page-container {
    display:  flex;
    justify-content: center;
    align-items:  center;
    flex-wrap:  wrap;
  }



.title {
  color:  #f4b41a;
  font-size: 40px;
  margin-left: 50px;
  line-height: 50px;
  font-family: sans-serif;
  font-style: courier;
  letter-spacing: 1.4px;
  font-weight: bold;
}

  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}

.col-3 {
  width: 25%;
  min-width: 10%;
  max-width: 25%;
}

.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}

.col-9 {
  width: 75%;
  float: left;
  color: aliceblue;
  margin-left: 6%;
}

.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}

.col-12 {
  width: 100%;
  height: 50px;
  background-color: #143d59;
  border-bottom: 1px rgb(255, 255, 255) solid;
}



.col-items {
  float: left;
  width: 75%;

}
.items-group-left {
  color: aliceblue;
  margin-top: 50%;
}

.item-left {
  margin-top: 16%;
  font-weight: bold;
  font-size: 20px;
}

.udt {
  color: rgb(230, 223, 223);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: -1%;
}

.box-1 {
  width: 220px;
  height: 230px;
  background-color: #64C292;
  background-image: url("../../assets/images/spartan.jpg"); 
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-right: 5%;
  float: left;
  margin-bottom: 4%;
}

.box-2 {
  width: 220px;
  height: 230px;
  background-color: #64C292;
  background-image: url("../../assets/images/benfast.jpeg"); 
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-right: 5%;
  float: left;
  margin-bottom: 4%;
}

.box-3{
  width: 220px;
  height: 230px;
  background-color: #64C292;
  background-image: url("../../assets/images/yugoslavia.jpeg"); 
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-right: 5%;
  float: left;
  margin-bottom: 4%;
}

.box-4 {
  width: 220px;
  height: 230px;
  background-color: #64C292;
  background-image: url("../../assets/images/ciolanerie.jpeg"); 
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-right: 5%;
  float: left;
  margin-bottom: 4%;
}

.box-5 {
  width: 220px;
  height: 230px;
  background-color: #64C292;
  background-image: url("../../assets/images/caminetto.jpeg"); 
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-right: 5%;
  float: left;
  margin-bottom: 4%;
}

.box-6 {
  width: 220px;
  height: 230px;
  background-color: #64C292;
  background-image: url("../../assets/images/antalya.png"); 
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-right: 5%;
  float: left;
  margin-bottom: 4%;
}

.box-restaurante {
    width: 460px;
    background-image: url("../../assets/images/restaurant.png"); 
    border-radius: 12px;
    margin-right: 5%;
    float: left;
    margin-bottom: 4%;
  }

.button-cumparaturi {
    float: left;
    border: none;
    background-color: transparent;
    color: #f4b41a;
    margin-left: -4px;
    margin-bottom: 5px;
    margin-top: 58px;
    text-decoration: underline #f4b41a;
}

.title-box {
  color:   #143d59;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 15px;
}

.box-text {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;

}

.nume-restaurant {
    margin-top: 230px;
    color:  #f4b41a;
    background-color: #143d59;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 5px;
}

.rating-restaurant {
    float: right;
    margin-top: -36px;
    margin-right: 5px;
    color: #f4b41a;

}

.dashboard {
  float: left;
  margin-top: 5%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  [class*="box"] {
    width: 230;
    margin-top: 5%;

  }

  [class*="items-group-left"] {
    margin-left: 100%;
    width: 100%;
    margin-top: 2%;
  }

  [class*="item-left"] {
    margin-bottom: 30%;
    margin-left: 30%;
  }

  [class*="line"] {
    border: 0px;
  }

  [class*="dashboard"] {
    margin-top: 0px;
  }

  [class*="box-restaurante"] {
    width: 400px;
  }
}