<body>
    <div class="page-container">
        <div class="row" style="width: 100%">
            <div class="col-12">
                <span class="title">Rinder</span>
            </div>
        </div>
        <div class="row" style="width: 100%">
            <div class="col-9">
                <div class="row-dashboard" style="width: 100%">
                    <div class="col-dashboard">
                        <h1 class="title-box">Restaurante:</h1>
                        <div class="box-restaurante">
                            <button class="button-cumparaturi" (click)="onRezerva()">Rezervă</button>
                        </div>
                    </div>
                </div>
                <div class="row" style="width: 100%">
                    <div class="col-boxes">
                        <h1 class="title-box">Cele mai bune restaurante! Rezervă acum!!</h1>
                        <div class="box-1">
                            <p class="nume-restaurant">Spartan</p>
                            <p class="rating-restaurant">10</p>
                        </div>
                        <div class="box-2">
                            <p class="nume-restaurant">Benfast</p>
                            <p class="rating-restaurant">10</p>
                        </div>
                        <div class="box-3">
                            <p class="nume-restaurant">Yugoslavia</p>
                            <p class="rating-restaurant">10</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="width: 100%">
                    <div class="col-boxes">
                        <h1 class="title-box">Cele mai bune restaurante! Comandă acum!!</h1>
                        <div class="box-4">
                            <p class="nume-restaurant">Ciolanarie</p>
                            <p class="rating-restaurant">10</p>
                        </div>
                        <div class="box-5">
                            <p class="nume-restaurant">AL Caminetto</p>
                            <p class="rating-restaurant">10</p>
                        </div>
                        <div class="box-6">
                            <p class="nume-restaurant">Antalya</p>
                            <p class="rating-restaurant">10</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
