.title {
    color: #f4b41a;
    font-size: 40px;
    margin-left: 50px;
    line-height: 50px;
    font-family: sans-serif;
    font-style: courier;
    letter-spacing: 1.4px;
    font-weight: bold;
}
