#navbar {
    overflow: hidden;
    background-color: #143d59;
    padding: 60px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.logo {
    font-family: "Brush Script MT", cursive;
    color: white;
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.logo:hover {
    transition: 0.5s;
    color: black;
}

#navbar button {
    float: left;
    color: white;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

#navbar #logo {
    transition: 0.4s;
}

#navbar button:hover {
    background-color: orange;
    color: black;
}

#navbar button.active {
    background-color: orange;
    color: white;
}

#navbar-right {
    float: right;
    color: white;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }
    #navbar button {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
    }
}