<br><br><br>
<div class="tbg">
    <div class="theader">

        <div class="tlogo">
            <h1>RINDER</h1>
        </div>
    </div>
    <div class="tbgwrap">
        <app-card [parentSubject]="parentSubject">
        </app-card>
        <div class="tcontrols">
            <div (click)='cardAnimation("swipeleft")' class="tno" style="margin-right: 110px;"><i class="fa fa-times"></i></div>

            <div (click)='cardAnimation("swiperight")' class="tyes"><i class="fa fa-heart"></i></div>
        </div>
    </div>

</div>
