<div class="page-container">
    <div class="row" style="width: 100%">
        <div class="column-contact" style="width: 25%">

        </div>
        <div class="column-meniu" style="width: 50%">
            <div class="row" class="box-logo">
                <img src="https://tazzcdn.akamaized.net/uploads/logo/tm-logo-spartan_6.png" class="restaurant-logo">
                <p class="linie"></p>
            </div>
            <div class="row" class="meniu">
                
            </div>
        </div>
        <div class="column-ads" style="width: 25%">

        </div>
    </div>
</div>