.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
    padding: 30px 15px;
    font-size: 30px;
}

.box-logo {margin-left: 13%;}

.restaurant-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linie {
    width: 100%;
    border-top: 2px solid aliceblue;
    margin-top: 20px;
}

.restaurant-list-element {
    width: 70%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    background-color: #f4b41a;
    border: #143d59 solid 2px;
    padding-bottom: 50px;
    padding-top: 5px;
    padding-left: 15px;
}

.part {
    float: left;
    margin-top: 10px;
    font-size: large;
    color: #143d59;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.meniu {
    margin-left: 15%;
}

.produs-layout {
    margin-top: 5%;
    border: #143d59 5px solid;
    border-radius: 30px;
    background-color: rgba(226, 226, 226, 0.7);
    height: 350px;
    padding-right: 15px;
    float: left;
    margin-right: 3%;
    box-shadow: 4px 4px 4px 4px;
    width: 30%;
}

.col-descriere {
    text-align: left;
}

.titlu {
    font-size: 21px;
    font-weight: bold;
    border-bottom: solid 2px black;
}

.descriere {
    font-size: 15px;
}

.pret {
    font-size: 25px;
    text-align: right;
    font-weight: bolder;
}

.col-image {
    align-self: center;
    border-left: solid 2px black;
}

.imageBox {
    align-self: center;
    box-shadow: 2px 2px 5px 5px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.column-meniu {
    width: 80%;
}

.column-contact {
    width: 5%;
}

.column-ads {
    width: 15%;
}


@media only screen and (max-width: 1800px) {

    /* For mobile phones: */
    [class*="produs-layout"] {
        width: 45%;
    }

}



@media only screen and (max-width: 1050px) {

    /* For mobile phones: */
    [class*="produs-layout"] {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="produs-layout"] {
        width: 100%;
        height: 400px;
    }

}