<app-header></app-header>
<div id="mySidenav" class="sidenav">
    <button id="rinder" (click)="gotoRinder()">
      <h4>Rinder</h4><img src="../../../assets/images/rinder.png" style="width:100%"></button>
</div>
<div class="page-container border">
    <div class="row" style="width: 100%">
        <div class="column-contact">

        </div>
        <div class="column-meniu">
            <div *ngFor=" let restaurant of restaurants">
                <div *ngIf=" restaurant.name == restaurantName.toString() ">
                    <div class="row" class="box-logo">
                        <img src="{{restaurant.banner_img}}" class="restaurant-logo">
                        <p class="linie"></p>
                    </div>
                    <div class="meniu">
                        <div *ngFor=" let produs of restaurant.produse">
                            <button class="produs-layout" (click)="addProdusToCart(produs)">
                                <div class="row" style="height: 90%">
                                    <div class="col-descriere" style="width: 50%">
                                        <div class="titlu">
                                            <p>{{ produs.nume }}</p>
                                        </div>
                                        <div class="descriere">
                                            <p>{{ produs.ingrediente }}</p>
                                        </div>
                                    </div>
                                    <div class="col-image" style="width: 50%">
                                        <div class="imageBox">
                                            <img src="{{produs.produs_img}}" class="responsive">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pret">
                                        <p>{{ produs.pret }}lei</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-ads">
            <img style=" width: 13vw; height: 80vh" src="../../../assets/images/Ads.gif">
        </div>
    </div>
</div>
<app-footer></app-footer>