    .page-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 200px;
        padding: 30px 15px;
        font-size: 30px;
    }

    .box-logo {
        margin-left: 13%;
    }

    .restaurant-logo {
        border: 2px solid black;
        border-radius: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .restaurant-name {
        color: black;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .linie {
        width: 100%;
        border-top: 2px solid orangered;
        margin-top: 20px;
    }

    .restaurant-list-element {
        width: 70%;
        height: 50px;
        border-radius: 30px;
        margin-top: 10px;
        background-color: #f4b41a;
        border: #143d59 solid 2px;
        padding-bottom: 50px;
        padding-top: 5px;
        padding-left: 15px;
    }

    .part {
        float: left;
        margin-top: 10px;
        font-size: large;
        color: #143d59;
        font-weight: 600;
        letter-spacing: 0.8px;
    }

    .meniu {
        margin-left: 15%;
    }

    .produs-layout {
        margin-top: 5%;
        border: #143d59 5px solid;
        border-radius: 30px;
        background-color: rgba(226, 226, 226, 0.7);
        height: 350px;
        padding-right: 15px;
        float: left;
        margin-right: 3%;
        box-shadow: 4px 4px 4px 4px;
        width: 30%;
    }

    .col-descriere {
        text-align: left;
    }

    .titlu {
        font-size: 30px;
        margin-left: 25px;
        width: 90%;
        font-weight: bold;
        border-bottom: solid 2px black;
    }

    .descriere {
        margin-left: 25px;
        font-size: 15px;
    }

    .pret {
        font-size: 25px;
        margin-left: 35px;
        text-align: left;
        font-weight: bolder;
    }

    .col-image {
        margin-top: 8px;
        align-self: center;
        border-left: solid 2px black;
    }

    .imageBox {
        align-self: center;
        box-shadow: 2px 2px 5px 5px;
    }

    .responsive {
        max-width: 100%;
        height: auto;
    }

    .column-meniu {
        width: 80%;
    }

    .column-contact {
        width: 5%;
        margin-top: 5%;
        border: #143d59 5px solid;
        border-radius: 30px;
        background-color: rgba(226, 226, 226, 0.7);
        float: left;
        margin-right: 3%;
        box-shadow: 4px 4px 4px 4px;
    }

    .column-ads {
        width: 15%;
    }

    .border {
        border: 1px solid black;
        background-image: url("../../../assets/images/bg3.jpg");
        background-size: 100% 100%;
        background-color: rgba(244, 180, 26, 0.75);
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        color: white;
        margin-right: -15px;
    }

    @media only screen and (max-width: 1920px) {
        /* For mobile phones: */
        [class*="produs-layout"] {
            width: 39%;
            margin-left: 4%;
        }
    }

    @media only screen and (max-width: 1024px) {
        /* For mobile phones: */
        [class*="produs-layout"] {
            margin-left: 6%;
        }
        [class*="column-ads"] {
            display: none;
        }
    }

    @media only screen and (max-width: 601px) {
        /* For mobile phones: */
        [class*="produs-layout"] {
            margin-left: 3%;
        }
        [class*="box-logo"] {
            margin-left: 20%;
        }
    }

    @media only screen and (max-width: 581px) {
        /* For mobile phones: */
        [class*="page-container"] {
            margin-top: 300px;
        }
    }

    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="produs-layout"] {
            width: 100%;
            height: 400px;
        }
    }
