<html>

<body>
    <div class="page-container" style="width: 100%">
        <div class="row" style="width: 100%">
            <div class="col-title">
                <span class="title">Rinder</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-ads" style="width: 25%;">

        </div>
        <div class="column-restaurants" style="width: 50%">
            <ul>
                <ul><button class="restaurant-list-element">
                        <p class="part">Spartan</p>
                    </button></ul>
                <ul><button class="restaurant-list-element">
                        <p class="part">Spartan</p>
                    </button></ul>
                <ul><button class="restaurant-list-element">
                        <p class="part">Spartan</p>
                    </button></ul>
                <ul><button class="restaurant-list-element">
                        <p class="part">Spartan</p>
                    </button></ul>
                <ul><button class="restaurant-list-element">
                        <p class="part">Spartan</p>
                    </button></ul>
                <ul><button class="restaurant-list-element">
                        <p class="part">Spartan</p>
                    </button></ul>
                <ul><button class="restaurant-list-element">
                        <p class="part">Spartan</p>
                    </button></ul>
                <ul><button class="restaurant-list-element">
                        <p class="part">Spartan</p>
                    </button></ul> 
            </ul>
        </div>
        <div class="column-filters" style="width: 25%">
            <form>
                <p>Alege-ți filtrele:</p>
                <ul class="filter-list">
                    <ul><input type="checkbox" name="filtre" id="Fastfood" value="Fastfood">
                        <label for="">Fastfood</label>
                    </ul>
                    <ul><input type="checkbox" name="filtre" id="Salate" value="Salate">
                        <label for="Salate">Salate</label>
                    </ul>
                    <ul><input type="checkbox" name="filtre" id="Peste" value="Peste">
                        <label for="Peste">Pește</label>
                    </ul>
                    <ul><input type="checkbox" name="filtre" id="Pizza" value="Pizza">
                        <label for="Pizza">Pizza</label>
                    </ul>
                    <ul><input type="checkbox" name="filtre" id="Pizza" value="Pizza">
                        <label for="Pizza">Sushi</label>
                    </ul>
                    <ul><input type="checkbox" name="filtre" id="Pizza" value="Pizza">
                        <label for="Pizza">Shaorma</label>
                    </ul>
                    <ul><input type="checkbox" name="filtre" id="Pizza" value="Pizza">
                        <label for="Pizza">Ciorbe/Supe</label>
                    </ul>
                    <ul><input type="checkbox" name="filtre" id="Pizza" value="Pizza">
                        <label for="Pizza">Vegan</label>
                    </ul>
                    <ul><input type="checkbox" name="filtre" id="Pizza" value="Pizza">
                        <label for="Pizza">Cafea</label>
                    </ul>
                    <ul><input type="checkbox" name="filtre" id="Pizza" value="Pizza">
                        <label for="Pizza">Noodoodles</label>
                    </ul>
                    <ul><input type="checkbox" name="filtre" id="Pizza" value="Pizza">
                        <label for="Pizza">Grătar</label>
                    </ul>
                </ul>
            </form>
            <p><button type="button" class="btn btn-secondary" style="background-color:#143d59 ;">Caută</button>
            </p>

        </div>
    </div>
</body>

</html>