<app-header></app-header>
<div class="page-container" style="width: 100%">

    <div class="row">
        <div class="column-filters">
            <div id="myBtnContainer">
                <button class="btn active" onclick="filterSelection('all')"> Show all</button><br>
                <button class="btn" onclick="filterSelection('Mâncare grecească')"> Fastfood</button><br>
                <button class="btn" onclick="filterSelection('Shaorma')"> Salate</button><br>
                <button class="btn" onclick="filterSelection('Pizza')"> Peste</button><br>
                <button class="btn" onclick="filterSelection('Mâncare vegană')"> Pizza</button><br>
            </div>
        </div>
        <div class="container-column-restaurants">
            <div *ngFor=" let restaurant of restaurants; let j = index">
                <div class="box">
                    <div (click)="goToRestaurant(restaurant.name)" class="box-button">
                        <img src="{{restaurant.banner_img}}" alt="buttonpng" class="restaurant-banner">
                        <div class="card-body">
                            <h5 class="nume-restaurant">{{restaurant.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-ads">
        </div>
    </div>
</div>

<app-footer></app-footer>